node_modules/
dist/
.env
prisma/*.db
prisma/*.db-journal
debug_kf/.cache/
.env
debug*
simplx
.pytest_cache
babysitter/__pycache__
v7_sessions
test/__pycache__
*.pyc
notes
sdk
.wip
pg_local
pg_data
redis_data
.sqlite_migrated
logic-money/
~/Work/logic-money
prisma/pms.db-shm
prisma/pms.db-wal
