node_modules/
dist/
.env
prisma/*.db
prisma/*.db-journal
debug_kf/.cache/
.env
debug*
simplx
.pytest_cache
babysitter/__pycache__
v7_sessions
test/__pycache__
*.pyc
notes
sdk
pg_local/
engine_simplx/build-release/
engine_simplx/.cache/
engine_simplx/build
.wip